src/main/resources/snowdtst.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rmitec.cn/dtst-mapper" xmlns:tns="http://www.rmitec.cn/dtst-mapper" elementFormDefault="qualified">

	<annotation>
		<documentation>snow dataset filesyntax definition</documentation>
	</annotation>
	<element name="Data">
		<annotation>
			<documentation>数据集根节点</documentation>
		</annotation>
		<complexType>
			<sequence maxOccurs="unbounded" minOccurs="0">
				<element ref="tns:Define" maxOccurs="1" minOccurs="1">
				</element>
				<element ref="tns:DataRef" maxOccurs="unbounded" minOccurs="0">
				</element>
				<element ref="tns:Fields" maxOccurs="1" minOccurs="0">
				</element>
				<element ref="tns:Commands" maxOccurs="1" minOccurs="0">
				</element>
			</sequence>
		</complexType>
		<unique name="UniqueDataRef">
			<selector xpath="tns:DataRef"></selector>
			<field xpath="@id"></field>
		</unique>
	</element>
	<element name="FieldModel">
		<annotation>
			<documentation>数据模型根节点</documentation>
		</annotation>
		<complexType>
			<sequence maxOccurs="unbounded" minOccurs="0">
				<element ref="tns:Field" maxOccurs="unbounded" minOccurs="0">
				</element>
			</sequence>
		</complexType>
		<unique name="UniqueFieldModel">
			<selector xpath="tns:Field"></selector>
			<field xpath="@id"></field>
		</unique>
	</element>

	<complexType name="DefineType">
		<attribute name="type" use="required">
			<annotation>
				<documentation>类别</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="call"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="pagesize" type="int">
			<annotation>
				<documentation>页大小</documentation>
			</annotation>
		</attribute>
		<attribute name="log" type="boolean" use="required">
			<annotation>
				<documentation>是否记录日志</documentation>
			</annotation>
		</attribute>
		<attribute name="flowid" type="string" use="required">
			<annotation>
				<documentation>流程或组件路径</documentation>
			</annotation>
		</attribute>
		<attribute name="desc" type="string" use="required">
			<annotation>
				<documentation>页面描述</documentation>
			</annotation>
		</attribute>
		<attribute name="expmaxrcd" type="int" use="required">
			<annotation>
				<documentation>在线导出时的最大记录数</documentation>
			</annotation>
		</attribute>
		<attribute name="flowctxid" type="string">
			<annotation>
				<documentation>流程上下文输入id</documentation>
			</annotation>
		</attribute>
		<attribute name="flowretid" type="string">
			<annotation>
				<documentation>流程上下文输出id</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="FieldType">
		<attribute name="id" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[a-zA-Z_][a-zA-Z0-9_$]*"></pattern>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="desc" type="string">
			<annotation>
				<documentation>描述</documentation>
			</annotation>
		</attribute>
		<attribute name="ref" type="string">
			<annotation>
				<documentation>关联数据集模型的id</documentation>
			</annotation>
		</attribute>
		<attribute name="required" type="boolean">
			<annotation>
				<documentation>是否必需</documentation>
			</annotation>
		</attribute>
		<attribute name="readonly" type="boolean">
			<annotation>
				<documentation>是否只读</documentation>
			</annotation>
		</attribute>
		<attribute name="method" type="string">
			<annotation>
				<documentation>方法，常用于动态下拉反显</documentation>
			</annotation>
		</attribute>
		<attribute name="width">
			<annotation>
				<documentation>控件宽度</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minInclusive value="20"></minInclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="tooltip" type="string">
			<annotation>
				<documentation>提示</documentation>
			</annotation>
		</attribute>
		<attribute name="status">
			<annotation>
				<documentation>状态</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="N"></enumeration>
					<enumeration value="F"></enumeration>
					<enumeration value="D"></enumeration>
					<enumeration value="A"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="edittype">
			<annotation>
				<documentation>编辑类型</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="textbox"></enumeration>
					<enumeration value="textarea"></enumeration>
					<enumeration value="numberbox"></enumeration>
					<enumeration value="password"></enumeration>
					<enumeration value="datebox"></enumeration>
					<enumeration value="datetimebox"></enumeration>
					<enumeration value="timebox"></enumeration>
					<enumeration value="combobox"></enumeration>
					<enumeration value="combogrid"></enumeration>
					<enumeration value="combotree"></enumeration>
					<enumeration value="combodialog"></enumeration>
					<enumeration value="radiobox"></enumeration>
					<enumeration value="radioboxs"></enumeration>
					<enumeration value="checkbox"></enumeration>
					<enumeration value="checkboxs"></enumeration>
					<enumeration value="progress"></enumeration>
					<enumeration value="datalabel"></enumeration>
					<enumeration value="integerbox"></enumeration>
					<enumeration value="doublebox"></enumeration>
					<enumeration value="currencybox"></enumeration>
					<enumeration value="filebox"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="datatype">
			<annotation>
				<documentation>数据类型</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="string"></enumeration>
					<enumeration value="int"></enumeration>
					<enumeration value="double"></enumeration>
					<enumeration value="number"></enumeration>
					<enumeration value="date"></enumeration>
					<enumeration value="timestamp"></enumeration>
					<enumeration value="time"></enumeration>
					<enumeration value="boolean"></enumeration>
					<enumeration value="currency"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="rule" type="string">
			<annotation>
				<documentation>规则名称</documentation>
			</annotation>
		</attribute>
		<attribute name="errmsg" type="string">
			<annotation>
				<documentation>验证失败信息</documentation>
			</annotation>
		</attribute>
		<attribute name="colspan">
			<annotation>
				<documentation>表单中占用的列宽</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<maxExclusive value="100"></maxExclusive>
					<minInclusive value="2"></minInclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="rows">
			<annotation>
				<documentation>行数，用于文本域</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minExclusive value="0"></minExclusive>
					<maxExclusive value="100"></maxExclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="size">
			<annotation>
				<documentation>长度</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minExclusive value="0"></minExclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="scale">
			<annotation>
				<documentation>精度</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minExclusive value="0"></minExclusive>
					<maxExclusive value="10"></maxExclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="datasource">
			<annotation>
				<documentation>数据来源,目前支持三种:LIST DDIC CQDS</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<pattern value="LIST:.+,.+|DDIC:\d+|\w+:\w.+"></pattern>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="viewfield" type="string">
			<annotation>
				<documentation>下拉显示字段，用于动态下拉</documentation>
			</annotation>
		</attribute>
		<attribute name="searchfield" type="string">
			<annotation>
				<documentation>查下拉询字段，用于动态下拉</documentation>
			</annotation>
		</attribute>
		<attribute name="fieldmap" type="string">
			<annotation>
				<documentation>下拉选择映射，dest1=src1,dest2=src2</documentation>
			</annotation>
		</attribute>
		<attribute name="default" type="string">
			<annotation>
				<documentation>默认值</documentation>
			</annotation>
		</attribute>
		<attribute name="cols" type="int">
			<annotation>
				<documentation>一行的个数，用于radioboxs和checkboxs</documentation>
			</annotation>
		</attribute>
		<attribute name="databus" type="boolean">
			<annotation>
				<documentation>查询时，是否缓存到databus中</documentation>
			</annotation>
		</attribute>
		<attribute name="multiple" type="boolean">
			<annotation>
				<documentation>是否多选，用于下拉选择</documentation>
			</annotation>
		</attribute>
		<attribute name="async" type="boolean" default="false">
			<annotation>
				<documentation>是否异步加载，用于动态下拉树</documentation>
			</annotation>
		</attribute>
		<attribute name="init" type="boolean">
			<annotation>
				<documentation>是否初始化，用于下拉选择</documentation>
			</annotation>
		</attribute>
		<attribute name="placeholder" type="string"></attribute>
		<attribute name="xpath" type="string">
			<annotation>
				<documentation>数据映射</documentation>
			</annotation>
		</attribute>
		<attribute name="editable" type="boolean"></attribute>
		<attribute name="url" type="string"></attribute>
		<attribute name="align">
			<annotation>
				<documentation>单元格对齐方式</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="left"></enumeration>
					<enumeration value="center"></enumeration>
					<enumeration value="right"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="headalign">
			<annotation>
				<documentation>列头对齐方式</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="left"></enumeration>
					<enumeration value="center"></enumeration>
					<enumeration value="right"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="minsize">
            <annotation>
            	<documentation>最小长度</documentation>
            </annotation>
            <simpleType>
				<restriction base="int">
					<minExclusive value="0"></minExclusive>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="DataRefType">
		<attribute name="id" use="required">
			<annotation>
				<documentation>数据集别名</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<pattern value="[a-zA-Z][a-zA-Z0-9]*"></pattern>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="dspath" type="string" use="required">
			<annotation>
				<documentation>数据集路径</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="CommandType">
		<attribute name="id" use="required">
			<annotation>
				<documentation>按钮id</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<pattern value="[a-zA-Z_][a-zA-Z0-9_$]*"></pattern>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="desc" type="string" use="required">
			<annotation>
				<documentation>按钮名称</documentation>
			</annotation>
		</attribute>
		<attribute name="type" use="required">
			<annotation>
				<documentation>提交类型</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="asyncsubmit"></enumeration>
					<enumeration value="syncsubmit"></enumeration>
					<enumeration value="asyncdelete"></enumeration>
					<enumeration value="href"></enumeration>
					<enumeration value="addrecord"></enumeration>
					<enumeration value="delrecord"></enumeration>
					<enumeration value="none"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="flowid" type="string">
			<annotation>
				<documentation>流程或组件路径</documentation>
			</annotation>
		</attribute>
		<attribute name="icon" type="string">
			<annotation>
				<documentation>图标</documentation>
			</annotation>
		</attribute>
		<attribute name="txn" type="string"></attribute>
		<attribute name="url" type="string" default="#"></attribute>
		<attribute name="tip" type="string"></attribute>
		<attribute name="submitdataset" type="string"></attribute>
		<attribute name="targetFrame">
			<simpleType>
				<restriction base="string">
					<pattern value="_self|_blank|_parent|_top|[a-zA-Z].*"></pattern>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<element name="Define" type="tns:DefineType">
		<annotation>
			<documentation>数据集配置</documentation>
		</annotation>
	</element>
	<element name="DataRef" type="tns:DataRefType">
		<annotation>
			<documentation>数据集引用</documentation>
		</annotation>

	</element>
	<element name="Field" type="tns:FieldType">
		<annotation>
			<documentation>字段信息</documentation>
		</annotation>
	</element>
	<element name="Command" type="tns:CommandType">
		<annotation>
			<documentation>操作信息</documentation>
		</annotation>
	</element>

	<element name="Fields">
		<annotation>
			<documentation>数据集字段</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:Field" maxOccurs="unbounded" minOccurs="0">
				</element>
			</sequence>
		</complexType>
		<unique name="UniqueField">
			<selector xpath="tns:Field"></selector>
			<field xpath="@id"></field>
		</unique>
	</element>
	<element name="Commands">
		<annotation>
			<documentation>数据集操作</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:Command" maxOccurs="unbounded" minOccurs="0">
				</element>
			</sequence>
		</complexType>
		<unique name="UniqueCommand">
			<selector xpath="tns:Command"></selector>
			<field xpath="@id"></field>
		</unique>
	</element>
</schema>